
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SOAI</title>
</head>
<body>
    <h1>Welcome to SoAI</h1>
    {% if studentsList|length>0 %}
    <ul>
        {% for student in studentsList %}
        <li>
            Name : {{ student['name'] }}
            College : {{ student['college'] }}
            <a href="{{ url_for('deleteStudent', name=student['name']) }}">Delete</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No records found!</p>
    {% endif %}

    <form action="{{ url_for('addStudent') }}" method="post">
        Enter your name <input type="text" name="user">
        <br>
        Enter your College <input type="text" name="college">
        <br>
        <button type="submit" value="submit">Add new Student</button>
    </form>
</body>
</html>